# Normalisation des fins de lignes
* text=auto

# Toujours LF pour les fichiers sensibles
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.blade.php text eol=lf
*.vue text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
